@import './desctop.css';
@import './tablet.css';
@import './fonts.css';

*, *:before, *:after {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.header, footer {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 19px;
}

.header {
  background:linear-gradient(0deg,rgba(10,14,52,0.9),rgba(10,14,52,0.9)),url(/images/football_767.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.footer {
  background:linear-gradient(0deg,rgba(10,14,52,0.9),rgba(10,14,52,0.9)),url(/images/game_767.jpg);
  background-size: auto 102%;
  background-position: 100%;
  background-repeat: no-repeat;
}

.logo-text {
  fill: #ffffff;
  width: 130px;
}

.footer .logo-text {
  margin-top: 75px;
}

.slogan {
  font-family: 'OpenSans';
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 1.4px;
  text-align: left;
  display: block;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
}
.header.slogan:first-of-type {
  margin-top: 130px;
  margin-bottom: 0px;
}
.header .slogan:last-of-type {
  margin-top: 20px;
  margin-bottom: 90px;
  padding-left: 44px;
}

.download-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #5e42b0;
  border-radius: 17px;
  padding: 4px 0px;
  margin-bottom: 14px;
  color: #fff;
  text-align: center;
  font-family: 'OpenSans';
  text-transform: uppercase;
  text-decoration: none;
  font-size: 8px;
  letter-spacing: 0.4px;
}
.download-button::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  
}

.download-button p {
  display:inline-block;
  margin: 0 10px;
  width: 90px;
  text-align: left;
}

.download-button span {
  font-weight: bold;
}

.appstore-label::before {
  background-color: white;
  -webkit-mask-image: url(/images/icons/apple_logo_black.svg);
  mask-image: url(/images/icons/apple_logo_black.svg);
}
.googleplay-label::before {
  background-color: #fff;
  -webkit-mask-image: url(/images/icons/google-play.svg);
  mask-image: url(/images/icons/google-play.svg);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .logo {
  width: 71px;
  height: 71px;
  padding: 11px;
  margin-top: 100px;
  fill: white;
  border-radius: 12px;
  background: rgba(80,50,156,1);
  background: -moz-linear-gradient(-45deg, rgba(80,50,156,1) 0%, rgba(94,61,179,1) 51%, rgba(120,81,219,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(80,50,156,1)), color-stop(51%, rgba(94,61,179,1)), color-stop(100%, rgba(120,81,219,1)));
  background: -webkit-linear-gradient(-45deg, rgba(80,50,156,1) 0%, rgba(94,61,179,1) 51%, rgba(120,81,219,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(80,50,156,1) 0%, rgba(94,61,179,1) 51%, rgba(120,81,219,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(80,50,156,1) 0%, rgba(94,61,179,1) 51%, rgba(120,81,219,1) 100%);
  background: linear-gradient(135deg, rgba(80,50,156,1) 0%, rgba(94,61,179,1) 51%, rgba(120,81,219,1) 100%);
}
.footer .slogan {
  margin-top: 55px;
  font-size: 32px;
  margin-bottom: 0px;
}
.sub-slogan {
  margin-top: 6px;
  font-family: 'OpenSans';
  color: #9b8ec1;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.7px;
}

.footer .button-block {
  margin-top: 60px;
  width: 100%;
}